
.card-ctnr{
    display: flex;
    width: 450px;
    margin: 0 auto;
    margin-top: 100px;
    cursor: pointer;
    flex-direction: column;
    /* position: relative; */
}
.hide{
    display: none;
}

img{
    width: 300;
    box-shadow: rgba(85, 77, 77, 0.05) 0px 20px 70px 4px;
}
.img-ctnr{
    padding: 5px;
    padding-bottom: 55px;
    text-align: center;
    border-radius: 15px;
    background: white;
    background-color:white;
    /* box-shadow: 0 4px 8px 0 rgba(243, 240, 240, 0.2), 0 6px 20px 0 rgba(243, 239, 239, 0.2); */
}
.image{
   
}

.desc{
    display: none;
}
.image:hover{
    opacity: 0.5;
}
.image:hover +.desc{
    display: block;
}

/*loader */
.loader {
    margin: 0 auto;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid black;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .title-rating{
      display: flex;
      justify-content: space-between;
      /* grid-template-columns: auto auto;
      justify-content: space-between;
      grid-gap: 25px; */
  }
  .title{
      font-size: 16px;
      font-weight: bold;
      padding-right: 40px;
  }
.fav-btn{
    margin-left: 15px;
}


  /*

  buttons css
  */
  .btn-ctnr{
    /* display: block; */
    /* position: absolute;
    left: 42%;
    top: 70%; 
    display: flex;
    justify-content: space-around; */
    display: flex;
    margin: 0 auto;

}
.hide{
    display: none;
}
.btn{
    padding: 25px;
    border-radius: 50%;
    background:rgb(226, 225, 225);
    opacity: 0.7;
    margin: 25px;
}
.left{
/* margin-right: 3rem; */
}

.right{
    /* margin-left: 3rem; */
}
.left:hover,.right:hover{
    cursor: pointer;
    opacity: 1;
}

.hr-util{
    margin-top:300px;
    opacity: 0;
}


@media screen and (max-width:550px) {
    .card-ctnr{
    width: 350px;
    }
}