
.card-ctnr{
    width: 450px;
    margin: 0 auto;
    margin-top: 100px;

}

img{
    width: 300;
    box-shadow: rgba(0, 0, 0, 0.40) 0px 22px 70px 4px;

}
.img-ctnr{
    width: 300;
    height: 400;
    padding-bottom: 2rem;
    background-color:white;
    text-align: center;
}
.image{
}

.desc{
    display: none;
}
.image:hover{
    opacity: 0.5;
}
.image:hover +.desc{
    display: block;
}